.container:hover {
  background: rgba(46, 45, 45, 0.164);
}
.single:hover {
  border-left: blue 5px solid;
  border-right: red 5px solid;
  background: linear-gradient(
    0.25turn,
    rgba(0, 0, 255, 0.3),
    rgba(255, 0, 0, 0.3)
  );
}
